.newsletter_main_content{
  background-image: url('/Image/notification/bg.png');
  z-index: -1;
}

@media only screen and (max-width:650px){
  .newsletter_main_content{
    background-image: url('/Image/notification/mobile_bg.png');
    z-index: -1;
  }
}
/* reset */
input,
textarea,
button {
  all: unset;
  box-sizing: border-box;
}

.FormRoot {
    width: 100%;
    gap: 28px;
    display: flex;
    flex-direction: column;
 
}

.FormField {
  display: grid;
  margin-bottom: 6px;
}

.FormLabel {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: white;
}

.FormMessage {
  font-size: 13px;
  color: white;
  opacity: 0.8;
}

.Input,
.Textarea {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 4px; */

  font-size: 15px;
  color: white;
  border-bottom: 1px solid #2a2a2c;
  /* background-color: var(--black-a5); */
  /* box-shadow: 0 0 0 1px white; */
}
.Input:hover,
.Textarea:hover {
    border-bottom: 1px solid #fff;
  /* box-shadow: 0 0 0 1px white; */
}
.Input:focus,
.Textarea:focus {
  /* box-shadow: 0 0 0 2px white; */
  border-bottom: 1px solid #fff;
}


.Input::selection,
.Textarea::selection {
  background-color: var(--black-a9);
  color: white;
}

.Input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}

.Textarea {
  resize: none;
  padding: 10px;
  text-wrap: wrap;
}

.Button4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  padding: 10px;
  width: 100%;
  border: 1px solid transparent;

  /* box-shadow: 0 2px 10px var(--black-a7); */
}
.Button4:hover {
  border: 1px solid #6083f3;
  background-color: #fff;
  color: #6083f3;
}
.Button4:focus {
  box-shadow: 0 0 0 2px white;
}


.cal-inline-container::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.cal-inline-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.cal-inline-container::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
.cal-inline-container::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}