.image-dot {
  --dot-bg: white;
  --dot-color: #a5b62b;
  --dot-size: 3px;
  --dot-space: 22px;
  
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

/* .cloud-image1{
  scale: 1.1;
  cursor: pointer;
}



 .settings-image1{

  animation: rotation 2s infinite linear;
}

@keyframes rotation{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.field-content{
  box-shadow: #141414 0px -30px 22px -2px inset;
}

.services-line{
  width: 0.4px;
  max-height: 100%;
  background-color: rgb(226, 226, 226);
  
}

.testominial-items{
  width: 821px;
}

@media only screen and (max-width:1000px){
  .testominial-items{
    max-width: 821px;
    width: 100%;
  }
}

.testominial-main .owl-nav{
  /* position: absolute;
  top: -80px;
    right: 0; */
  
}

.testominial-main .owl-prev,
.testominial-main .owl-next{
  border: 1px solid #838383 !important;
    /* padding: 1px; */
    border-radius: 50% !important;
    width: 42px;
    height: 42px;
}

.testominial-main .owl-prev span,
.testominial-main .owl-next span{
  /* font-size: 20px; */
}

.product-content-box{
  /* max-width: 490px; */
  height: 485px;
}

@media only screen and (max-width:1296px){
  .product-content-box{
    /* max-width: 407px; */
    height: 485px;
  }
}

.product-content-box-image{
 width: 100%;
  height: 303px;
}