@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

button{
  padding:8px 16px 8px 16px !important;
  box-shadow: #83911C 0px -5px 22px -2px inset;
  border-radius: 8px !important;

}

button:hover{
  opacity: 0.8;
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar-main {
  padding-left: 20rem;
  padding-right: 20rem;
}

@media only screen and (max-width: 1650px) {
  .navbar-main {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

@media only screen and (max-width: 1350px) {
  .navbar-main {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media only screen and (max-width: 1050px) {
  .navbar-main {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 725px) {
  .navbar-main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 725px) {
  .text-cloud4 {
    font-size: 0.4rem;
  }
}


.line-svg{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  offset-path: path("M1 0.5V45.5C1 54.3366 8.16344 61.5 17 61.5H177C185.837 61.5 193 68.6634 193 77.5V93");
  animation: followpath 8s ease-in-out infinite;
}

@keyframes followpath{
  to{
    offset-distance: 100%;
  }
}

.cloud_image{
  width: 175px;
  height: 113.75px;
}

.cloud_container:hover  .cloud_image{
  width: 285px;
  height: 119.75px;
}

.cloud_container:hover .setting-rotates{
  width: 62px;
  height: 62px;
  animation:newanimate 1s infinite linear;

  /* Adjust transform-origin as needed */
  transform-origin: center;

}

@keyframes newanimate{
  from {
    transform: translate(-50%, -50%) rotate(0deg); /* Adjust to center element */
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}