@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family:"Plus Jakarta Sans", sans-serif ;
  color: #fff;
  background-color: #000;
 
}

button {
  /* padding: 8px 16px 8px 16px !important; */
  /* box-shadow: #3851ad 0px -5px 22px -2px inset; */
  border-radius: 8px;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.scroll_top{
  background-color: #4f91ff !important;
  right: 40px;
  bottom: 40px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28);
  border: none;
}

.scroll_top svg{
  margin: auto;
  fill: #fff !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-container{
  max-width: 1036px;
  margin: 0 auto;
}



.navbar-main {
  padding-left: 15rem;
  padding-right: 15rem;
}


@media only screen and (max-width: 1650px) {
  .navbar-main {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

@media only screen and (max-width: 1350px) {
  .navbar-main {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media only screen and (max-width: 1050px) {
  .navbar-main {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 725px) {
  .navbar-main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 725px) {
  .text-cloud4 {
    font-size: 0.4rem;
  }
}

.line-svg {
  position: relative;
  left: 30px;
  top: -95px;
  right: 0;
  offset-path: path(
    "M79 101V121.5C79 130.337 86.1634 137.5 95 137.5H241C249.837 137.5 257 144.663 257 153.5V156"
  );
  animation: followpath 2s ease-in-out infinite;
  background-color: #edff6c;
  border: 1px solid #000;
  border-radius: 50%;
}

.line-svg2 {
  position: relative;
  left: 20px;
  top: -95px;
  right: 0;
  offset-path: path("M263 156L263 101");
  animation: followpath 2s ease-in-out infinite reverse;
  background-color: #edff6c;
  border: 1px solid #000;
  z-index: 50;
  border-radius: 50%;
}

.line-svg3 {
  position: relative;
  left: 10px;
  top: -95px;
  right: 0;
  offset-path: path(
    "M443 101V121.5C443 130.337 435.837 137.5 427 137.5H285C276.163 137.5 269 144.663 269 153.5V156.5"
  );
  animation: followpath 2s ease-in-out infinite;
  background-color: #edff6c;
  border: 1px solid #000;
  border-radius: 50%;
}

@keyframes followpath {
  to {
    offset-distance: 100%;
  }
}

.cloud_image {
  width: 175px;
  height: 113.75px;
}

.cloud_container:hover .cloud_image {
  width: 285px;
  height: 119.75px;
}

.cloud_container:hover .setting-rotates {
  width: 62px;
  height: 62px;
  animation: newanimate 1s infinite linear;

  /* Adjust transform-origin as needed */
  transform-origin: center;
}

@keyframes newanimate {
  from {
    transform: translate(-50%, -50%) rotate(0deg); /* Adjust to center element */
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.testominial-home .splide .is-prev{
  opacity: 0.2;
}

.testominial-home .splide .is-active{
  background-image: url('/Image/ellipse2.svg');
  
  width: 100%;
  height: 290px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  /* border-bottom: 1px solid #292929; */
  border-top: 1px solid #181818;
}

.testominial-home .splide .is-next{
  opacity: 0.2;
}

