.main-tabs .splide__arrows{
    display: none;
}


.home_industries_servicetype .splide__arrow--prev {
    left: unset !important;
    right: 2.8rem !important;
}

.home_industries_servicetype .splide__arrow--next {
    right: 0 !important;
}

.home_industries_servicetype .splide__arrow {
    -ms-flex-align: center;
    align-items: center;
    background: #ccc;
    color: #000 !important;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: 2em;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: .7;
    padding: 0;
    position: absolute;
    top: -4% !important;
    transform: translateY(-50%);
    width: 2em;
    z-index: 1;
}

.home_service_intro{
box-shadow: #5677E1 10px 10px;
border-radius: 8px;
}