.NewsletterForm_main .splide__arrow {
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: 2em;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: .7;
    padding: 0;
    position: absolute;
    top: -40% !important;
    transform: translateY(-50%);
    width: 2em;
    z-index: 1;
    color: #000 !important;
    display: none !important;
  }
  

